.intro{
  text-align: center;
}
#userInput{
  text-align: center;
}
.btn{
  margin: 0 auto;
  display: block;
}
#clearButton{
  display: none;
}
#submitButton{
  margin-top: 10px;
}
.output{
  text-align: center;
  border-style: groove;
  margin-bottom: 30px;
}
#spotifyEmbed{
  margin-left: 20%;
}
#lyricsButton{
  margin-bottom: 10px;
  margin-top: 10px;
}
.col-md-6{
  display: none;
  border-style: groove;
  text-align: center;
}
p{
  margin-bottom: 5px;
}
