body{
  background-color: #f3ba70;
}
.intro{
  text-align: center;
  text-shadow: 3px 3px rgba(128, 128, 128, 0.541);
}
.jumbotron{
  margin-bottom: 10px;
  background-image: url('../img/banner.png');
  background-size: cover;
  background-repeat:repeat-x;
  font-style: oblique;
}
#userInput{
  text-align: center;
}
.btn{
  margin: 0 auto;
  display: block;
}
#clearButton{
  display: none;
}
#submitButton{
  margin-top: 10px;
  margin-bottom: 5px;
}
#submitButton1{
  margin-bottom: 5px;
}
#submitButton2{
  margin-bottom: 5px;
}
.output{
  text-align: center;
  border-style: groove;
  margin-bottom: 30px;
}
#spotifyEmbed{
  margin-left: 20%;
}
#lyricsButton{
  margin-bottom: 10px;
  margin-top: 10px;
}
.col-md-6{
  display: none;
  border-style: groove;
  text-align: center;
}
p{
  margin-bottom: 5px;
}
#userInput{
  margin-top: 30px;
}
.inMemory{
  font-style: italic;
}
#aboutFredImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  align-self: center;
}
#aboutFredTitle{
  text-align: center;
  font-size: 30px;
}
#aboutFredQuote{
  margin-top: 10px;
}
.rogersName{
  font-weight: 600;
}
